h3 {
  font-family: "Rajdhani", sans-serif;
}

h3 {
  text-align: center;
  font-weight: bold;
}

button {
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  color: red;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
}
